
                <div class="media border " style="background-color: rgb(231, 227, 227);width: 100%" >
                       
                        <div class="media-body text-center">
                                <br> <br>
                          <p>{{leftnews.Name}}</p>
                          <p>{{leftnews.Date}}</p>
                          <img src={{leftnews.Image}}  alt={{leftnews.Image}} style="width:90%">
                          <br><br>



                   <p [innerHtml]="leftnews.Desc" >{{leftnews.Desc}} </p>    
                      
                     
                        </div>
                      </div>
                     
      
    
    