<!-- <p>navbarshared works!</p> -->
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark navbar-fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" href="#"> <pre style="color: white;font-size:30px">   YOURNEWS      </pre></a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse navbar-fixed-top" id="collapsibleNavbar">
      <ul class="navbar-nav" *ngFor="let new of navnews">
        <li class="nav-item" >
          <a class="nav-link" routerLinkActive="active" routerLink="/News/Department/{{new.ID}}" style="font-size:20px">{{new.Name}}</a>
        </li>
      
      </ul>
    </div> 
  </nav>